.d-flex.justify-content-center
  iframe[src="https://docs.google.com/forms/d/e/1FAIpQLSeWbH-xQLd7CJqz5DcXkDtokafwNOPkSks-Ms82UG4Cu3L8uA/viewform?embedded=true&usp=pp_url&entry.800556320=UNO+MavMoney&entry.304769670=#{current_user.uuid}&entry.879531967=Omaha&entry.1976243958=NE" width="640" height="600" frameborder="0"]Loading...
