/ SPDX-License-Identifier: MPL-2.0
H2 About Bugmark

p Bugmark is a futures trading market for finding and fixing software issues.

p Users, developers, testers, project maintainers, investors, and others in the
  software ecosystem can trade on questions such as: "will a bug be fixed?" or
  "will a vulnerability be found?"

p Bugmark connects those who are willing to pay
  directly to workers who are willing to work through price signals. Traders can
  express their valuations and make offers on issues that are of importance.

p Our
  design promotes information sharing and collaboration by incentivizing workers
  to share and claim credit for partial work. Our platform can be used for a
  variety of tasks, including documentation issues, code reviews, and testing.
