h2 Markets and Open Source

p In today’s world, software is ubiquitous and will become even more so with the
  advent of the Internet of things. Open source software forms much of our
  digital infrastructure. It, however, contains vulnerabilities which have been
  exploited, attracted public attention, and caused large financial damages.

p Our
  project proposes a solution to shortcomings in the current economic situation
  of open source software development. We hope to address this issue by
  developing a market mechanism that will introduce price signals, allow
  developers to direct their efforts towards the most important issues and earn
  credit for their efforts, allow users to express their valuations for
  solutions, improve information discovery, sharing, and collaboration, and make
  progress towards incentivizing better quality software for all.

p Marketplaces for open source software issues exist, including bug bounty, open
  source bounty, crowdsourcing and crowdfunding platforms. However these market
  mechanisms have limitations that we address with a novel market design based on
  trading futures contracts.

