h2 Bugmark Research

p Bugmark started off as a research project exploring the connection between
  markets and peer production. Several promising lines of research stem from this
  work that we will investigate going forward.

p For instance, how can we ensure
  market liquidity and avoid a thinly traded market? A usability question is how
  to make the market design intuitive for open source developers who have no
  background in futures markets, which is important for widespread adoption.
  Another interesting question is how to ensure that everyone gets fairly
  compensated, including reviewers of code, who do not have the information
  advantage that developers have because the review comes late in the development
  life-cycle.

p At present we are running simulations and live experiments to test
  various hypotheses and understand the behavior of the system.
