/* SPDX-License-Identifier: MPL-2.0 */
.btn-like {
  margin-right: 10px;
  background-color: #a76d17;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

img.projgraph {
  /*height: 180px;*/
  max-width: 100%;
}

body>div.container-fluid {
  margin-top: 65px;
}
